/* بیضی ک توش دایره هست کلا */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: 2px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}
/* بیضی  ک توش دایره هس وقتی ک غیرفعال */
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: rgb(235, 79, 79);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
/* دایره ی داخل بیضی غیرفعال */
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
/* دایره ی داخل بیضی فعال بشه تا کجای بیضی بره */
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  /* background-color: #fff; */
 
} 
/* بیضی  ک توش دایره هس وقتی ک فعال */
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #15d6bc;
}
/* نوشته ی زیر سوییچ ک حالتشو نشون میده */
.txt-switch-active{
  color: #15d6bc;
  font-size: 15px;
}
.txt-switch-inactive{
  color: rgb(235, 79, 79);
  font-size: 15px;
}
/*  کل صفحه ام */
.content-switch{
 
   text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;

}